/*===============================================================*/
/* Mobile Styles */
@media only screen and (max-width: 600px) {
}

/*===============================================================*/
/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
}

/*===============================================================*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
}

/* ------ GRID stuff ------ */
.container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 10fr;

    grid-template-areas:
        "header-one"
        "header-two"
        "header-three"
        "header-four"
        "header-five";
}

.header-one {
    grid-area: header-one;
}

.header-two {
    grid-area: header-two;
}

.header-three {
    grid-area: header-three;
}

.header-four {
    grid-area: header-four;
    width: 100%;
    height: 100%;
}

.header-five {
    grid-area: header-five;
}

/* ------ Body stuff ------ */
html,
body,
main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

/* Format the landing page */

a:hover,
a:active {
    color: violet;
    cursor: pointer;
}

#landing {
    color: white;
    font-family: 'Lexend', sans-serif;

    text-align: justify;
    font-size: 6.3vmin;
    /* width: 96%;
    height: 96%; */
    margin: 3vmax;
}

#back {
    color: white;
    font-family: 'Lexend', sans-serif;

    text-align: justify;
    font-size: 3.3vmax;
    /* width: 96%;
    height: 96%; */
}

table {
    margin: 3vmax;
    padding-right: 5%; 
}

a, u {
    text-decoration: none;
    color: rgb(157, 234, 236);
    animation: pulse 1s 3s;
  }

th, td {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Lexend', sans-serif;
    margin: 3vmax;
    padding: 1%;
    font-size: 2.3vmax;
    width: 33%;
}

img {
    width: 80%;
    height: 80%;
}

@keyframes pulse {
	0% {
		transform: scale(1.2);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
	}

	100% {
		transform: scale(1.2);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
	}
}