/*===============================================================*/
/* Mobile Styles */
@media only screen and (max-width: 600px) {}

/*===============================================================*/
/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {}

/*===============================================================*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {}

/*===============================================================*/

/* ------ GRID stuff ------ */
.container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;

    grid-template-areas:
        "header-one"
        "header-two"
        "header-three"
        "header-four"
        "header-five"
        "header-six";
}

.header-one {
    grid-area: header-one;
}

.header-two {
    grid-area: header-two;
}

.header-three {
    grid-area: header-three;
}

.header-four {
    grid-area: header-four;
}

.header-five {
    grid-area: header-five;
}

.header-six {
    grid-area: header-six;
}

/* ------ Body stuff ------ */
html,
body,
main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

/* Format the landing page */

a:hover,
a:active {
    color: violet;
    cursor: pointer;
}

a,
u {
    text-decoration: none;
    color: rgb(0, 247, 255);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s 3s;
}

.landing {
    color: white;
    font-family: 'Lexend', sans-serif;
    text-align: justify;
    font-size: 5.5vmin;
    margin: 1.1vmax;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

th,
td {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Lexend', sans-serif;
    margin: 3vmax;
    padding-right: 5%;
    font-size: 2.3vmax;
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
    }

    100% {
        transform: scale(1.2);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
}