/*===============================================================*/
/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .container {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "main";

    }

    #crop {
        border: 2rem solid rgb(0, 0, 0);
        border-radius: 16px;
        z-index: 20;
    }
}

/*===============================================================*/
/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    .container {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "main";

    }

    #crop {
        border: 5rem solid rgb(0, 0, 0);
        border-radius: 16px;
        z-index: 20;
    }
}

/*===============================================================*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "main";

    }

    #crop {
        border: 5rem solid rgb(0, 0, 0);
        border-radius: 16px;
        z-index: 20;
    }

}

/* ------ GRID stuff ------ */


.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

/* sidebar with a grid within it for the control buttons*/
.item-c {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-area: sidebar;
    justify-content: center;
}


/* ------ Body stuff ------ */
html,
body,
main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

footer {
    height: 0%;
    width: 0%;
}

iframe {
    border: 0px;

    width: 100%;
    height: 100%;
    -webkit-border-radius: 16;
    -moz-border-radius: 16px;
    border-radius: 16px;
    /* box-shadow: 0px 0px 10px 2px rgb(0, 0, 0); */
    pointer-events: none
}

/* Setup the iframe wrapper and two videos within so they overlap */
.iframe-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.iframe-one,
.iframe-two,
.iframe-three,
.iframe-four,
.cropper {
    grid-column-start: 1;
    grid-row-start: 1;
}

#playerOne,
#playerTwo,
#playerThree,
#playerFour {
    opacity: 0.6;
}

/* Format the landing page */

a:hover,
a:active {
    color: violet;
    cursor: pointer;
}

#landing {
    color: white;
    font-family: 'Lexend', sans-serif;

    text-align: justify;
    font-size: 3.3vmax;
    /* width: 96%;
    height: 96%; */
    margin: 3vmax;
    padding-right: 5%;
}

.svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    height: 7%;
    width: 7%;
}
